BasedOnStyle: LLVM
IndentWidth: 4
UseTab: false
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4

#If true, analyze the formatted file for the most common alignment of & and *. PointerAlignment is then used only as fallback.
DerivePointerAlignment: false
AlignTrailingComments: true
#IndentCaseLabels: false
ColumnLimit: 120
Standard: Cpp11
Language: Cpp

